name: WakaTime Readme

on:
  schedule:
    - cron: "30 4 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  wakatime:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME }}
          COMMIT_MESSAGE: "chore(profile): update wakatime"
